.quizcard {
  background-color: rebeccapurple;
}

.header {
  background-color: orange;
}

.content {
  background-color: #37c3ed;
}

footer {
  background-color: #afc5cc;
}

.tag {
  background-color: red;
}
