@import "_base.css";
@import "colors.css";

body {
  display: grid;
  grid-template-rows: 80px auto 100px;
  height: 100vh;
}
.header {
  padding: 10px;
  text-align: center;
  font-size: large;
}
.content {
  overflow-y: scroll;
  padding: 20px;
}

footer {
  padding: 10px;
  text-align: center;
}

.quizcard {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0 10px 0;
}

.questionTitle {
  padding: 10px;
}

.questionText {
  text-align: center;
  padding: 5px;
  margin: 1em;
}

.answerButton {
  padding: 5px;
  margin: 1em;
}

.nav__icon {
  size: 20px;
}
.tag {
  padding: 5px 15px 5px 15px;
  display: inline;
  margin: 10px;
  border-radius: 5px;
}
